
@page {
    size: A4;
    margin-left: 20mm;
    margin-bottom:15mm;
    margin-top:10mm;
    margin-right: 5mm;
    width:160%;
}

#containerMenu {
  position: relative;
  top: 0;
  z-index: 1000;
}

.navclick{display: none;}
.nav{display: none;}
.menuSmall{display: none;}

.hidden { display: inline; color: black; }
.unhidden { display: inline; color:black;}

.footer{display: none;}

.Name{
  position: relative;
  display: inline-block;
  color: black;
  z-index: 998;
  margin-bottom: 0;

}
.myName{
  margin-bottom: 0;
  color: black;
}

.nameChapter{
  position: relative;
  display: inline-block;
  color: black;
  z-index: 998;
  margin-top:0vw;
  margin-bottom: 2vw;
  border-color: black;

}

.listAll{color: black;}
.list{color:black;}

.menu{
  position: relative;
  top: 0;
  color: black;
  z-index: 1000;
}

chapMenu{color:black;}

a:link{color: black;}

.imageRightPORT{ border-color: black;}
.imageRightLAND{ border-color: black;}
.imageLeftPORT{ border-color: black;}
.imageLeftLAND{ border-color: black;}


.caption{

  color: black;
  border-style: solid;
  border-width: 4px 0px 4px 0px;
  border-color: black;
}

.source{color:black; border-color:black;}
.sourceItalic{color:black;}




.nameChapter{color:black;}

.chapterSSS{
  
  color: black;
}

.columnRight{margin-right:-25vw; border-color:black;}
.columnCenter{border-color:black;}
.columnLeft{border-color:black;}

p { 
  color: black;
 }
.otherParagraphs{ 
  color: black;}

.quote{color: black; border-color:black;}

.captionRightPORT{color: black; border-color: black;}
.captionRightLAND{color: black; border-color: black;}
.captionLeftPORT{color: black; border-color: black;}
.captionLeftLAND{color: black; border-color: black;}