
body, html {
height: 100%;
margin-top: 0px;
margin-bottom: 0px;
margin-right: 0px;
margin-left: 0px;
background: black;

/*background: black; /* For browsers that do not support gradients */
/*  background: -webkit-radial-gradient(blue,black,black); /* Safari 5.1 to 6.0 */
/*  background: -o-radial-gradient(blue,black,black); /* For Opera 11.6 to 12.0 */
/*  background: -moz-radial-gradient(blue,black,black); /* For Firefox 3.6 to 15 */
/*  background: radial-gradient(blue,black,black); /* Standard syntax */

font-size: 100%;
}



@font-face{
    font-family : "texgyreheroscn-regular";
    src : url('fonts/texgyreheroscn-regular.otf');
}

@font-face{
    font-family : "NHaasGroteskDSPro-55Rg";
    src : url('fonts/NHaasGroteskDSPro-55Rg.otf');
}

@font-face{
    font-family : "NHaasGroteskDSPro-65Md";
    src : url('fonts/NHaasGroteskDSPro-65Md.otf');
}

@font-face{
    font-family : "BERTHOLD AKZIDENZ GROTESK BE BOLD";
    src : url('fonts/BERTHOLD AKZIDENZ GROTESK BE BOLD.ttf');
}

@font-face{
    font-family : "BERTHOLD AKZIDENZ GROTESK BE REGULAR";
    src : url('fonts/BERTHOLD AKZIDENZ GROTESK BE REGULAR.ttf');
}

@font-face{
    font-family : "FuturaStd-Medium";
    src : url('fonts/FuturaStd-Medium.otf');
}

@font-face{
    font-family : "DTLNobelT";
    src : url('fonts/DTLNobelT.otf');
}

@font-face{
    font-family : "DTLNobelT-Bold";
    src : url('fonts/DTLNobelT-Bold.otf');
}


@font-face{
    font-family : "DTLNobelT-Italic";
    src : url('fonts/DTLNobelT-Italic.otf');
}

@font-face{
    font-family : "DTLNobelT-Light";
    src : url('fonts/DTLNobelT-Light.otf');
}

.hidden { display: none; }
.unhidden { display: inline; }




/*------MENU AND LINKS-------*/

#containerMenu {
  width: 100vw;
  height: 185vw;
  position: relative;
  display:inline-block;
}

.menu{

width: 98vw;
left:0px;
padding-left: 2vw;
position: relative;
top: 9vw;
text-align: left;
text-transform: uppercase;
font-size: 8vw;
line-height: 1.3;
letter-spacing: 0.04em;
/*font-family:  "NHaasGroteskDSPro-65Md", sans-serif;*/
/*font-family:  "FuturaStd-Medium", sans-serif;*/
/*font-family:  "Portano-Sans", sans-serif;*/
/*font-family:  "DTLNobelT", sans-serif;*/
font-family:  "DTLNobelT-Bold", sans-serif;
/*font-family:  "NHaasGroteskDSPro-55Rg", sans-serif;	*/
/*font-family:  "NHaasGroteskDSPro-65Md", sans-serif;*/
/*font-family:  "Animo", sans-serif;*/
/*font-family:  "Roboto", sans-serif;*/
hyphens: manual;
z-index:10;
}



chapMenu {

	font-size: 0.8vw;
	text-transform: uppercase;
	color: white;
	margin-top: 1vw;
	margin-right:1vw;

}

chapMenu1 {
	font-family: "DTLNobelT",sans-serif;
	font-size: 0.8vw;
	text-transform: none;
	color: white;
	line-height: 0;
	margin-right:1.5vw;

}

space{
	padding-left:8vw;
	
}




a:link {
    color: #ffffff;
    text-decoration: none;
    margin-right:0vw;  

}

/* visited link */
a:visited {
    color: #ffffff;
    text-decoration: none;
}

/* mouse over link */
a:hover {
	/*font-family:  "DTLNobelT-Italic", sans-serif;*/
    color: black;
    text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
    text-decoration: none;
    /*font-family: 'Oswald', sans-serif;*/
    
}

/* selected link */
a:active {
    color: #ffffff;
    text-decoration: none;
}

::-moz-selection {
    background-color: blue;
    color: #fff;
}
 
::selection {
    background-color: blue;
    color: #fff;
}



#underline{
text-decoration: none; 
background: url(images/underline.gif) repeat-x 100% 100%;
padding-bottom: 4px;
white-space: nowrap;
}





/*------SMALL MENU-------*/

.navclick {
    font-family:  "DTLNobelT-Bold", sans-serif;    
    color: white;
	position: fixed;
    margin-top: 2vw;
    right: 2vw;
	text-align: left;
	font-size: 2vw;
	line-height: 1;
	z-index: 96;
}

.nav {

	position: fixed;
	height: 84vh;
	width: 22vw;
	top: 4.5vw;
    right: 2vw;
	background: black;
	
	overflow-y: visible;
	line-height: 1.3;
	text-align: left;
	font-family:  "DTLNobelT", sans-serif;
	font-size: 1vw;
	display: none;
	padding: 10px;
	border-style: solid;
	border-color:white;
	z-index: 97;
}

.menuSmall{
width: 100%;
height: 100%;

padding-left: 0.7vw;
position: relative;
top: 0vw;
z-index:97;


text-align: left;
text-transform: uppercase;
font-size: 1.2vw;
line-height: 3.5vh;
letter-spacing: 0.04em;
/*font-family:  "NHaasGroteskDSPro-65Md", sans-serif;*/
/*font-family:  "FuturaStd-Medium", sans-serif;*/
/*font-family:  "Portano-Sans", sans-serif;*/
/*font-family:  "DTLNobelT", sans-serif;*/
font-family:  "DTLNobelT-Bold", sans-serif;
/*font-family:  "NHaasGroteskDSPro-55Rg", sans-serif;	*/
/*font-family:  "NHaasGroteskDSPro-65Md", sans-serif;*/
/*font-family:  "Animo", sans-serif;*/
/*font-family:  "Roboto", sans-serif;*/
hyphens: manual;
}



	 
/*#sidetitle{
	width: 550px;
	height: 23px;
	font-family: 'Arimo', sans-serif;
	letter-spacing:1px;	
    margin: auto;
  	top: 0; left: -850px; bottom: 0; right: 0;	
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	position: fixed;
	text-transform: uppercase;	
}*/
	



/*-------TEXTS-------*/


.Name {
position: fixed;
width:98.5vw;
height:3.5vw;


float: left;
display: inline-block;

top: 0;
left:0vw;

color: #ffffff;
font-family:  "DTLNobelT-Bold", sans-serif;
/*font-family:  "NHaasGroteskDSPro-65Md", sans-serif;*/

font-size: 2.5vw;
text-transform: uppercase;
padding-left: 1.5vw;
padding-top: 1.5vw;
padding-bottom: 1vw;

text-align: left;

background: black;
border-bottom: 0.4vw solid white;

z-index: 95;
}

.myName{


display: inline-block;
top: 0;
text-align:left; 
text-shadow:none;
/*padding-left: 3vw;*/
font-family:  "DTLNobelT", sans-serif;
/*font-family:  "NHaasGroteskDSPro-65Md", sans-serif;*/
font-size: 1vw;
color: #ffffff;
text-transform: uppercase;
background: black;
padding-left: 1vw;
z-index: 95;
}

.nameChapter {

width:98.5vw;
height:3.5vw;
float: left;
display: inline-block;
left:0vw;
margin-bottom: 3.5vw;

color: #ffffff;
font-family:  "DTLNobelT-Bold", sans-serif;
/*font-family:  "NHaasGroteskDSPro-65Md", sans-serif;*/
font-size: 2.5vw;
text-transform: uppercase;
margin-top: 5vw;
padding-top: 7.7vw;
padding-left: 1.5vw;
padding-bottom: 1vw;
text-align: left;

background: black;
border-bottom: 0.4vw solid white;

z-index: 11;
}



.chapterSSS {
	
	width: 90vw;
	position: relative;
    display:inline-block;
	margin-top: 0vw;	
	/*margin-right:4vw;*/
    margin-left: 5vw;	
    margin-bottom: 3vw;	
	font-family: 'DTLNobelT', sans-serif;	
	font-size: 1.5vw;
	letter-spacing:0.1vw;
	line-height: 2.4vw;
}

#abstract{

}

#introduction{	
	margin-top: 0vw;
}

#chapter1{
	margin-top: 0vw;
}

#chapter2{
	margin-top: 0vw;
}

#chapter3{
	margin-top: 0vw;
}

#chapter4{
	margin-top: 0vw;
}

#chapter5{
	margin-top: 0vw;
}

#chapter6{
	margin-top: 0vw;
}

#chapter7{
	margin-top: 0vw;
}

#conclusion{
	margin-top: 0vw;
}

#footnotes{
	margin-top: 0vw;
}

#acknowledgement{
	margin-top: 0vw;
}

#about{
	margin-top: 0vw;
}

/*------PARAGRAPHS STYLES------*/

p { 
	color: #ffffff;
	margin-right: 0;
 }

.listAll{
	display: block;
	width:47vw;
	padding-top:1vw;
	padding-left: 2vw;
	/*padding-bottom: 10vw;*/
}



.list{
	display:inline-block;
	/*text-indent: 3vw;*/
	color: white;
	padding-top:0.9vw;
	padding-bottom:0.9vw;
		
}


.columnRight{
	position: relative;
	width: 50vw;
	display: block;
	color: white;
	right:0;
	margin-bottom: 6vw;
	padding-right: 2vw;
	padding-top: 2vw;
	padding-left: 40vw;
	padding-bottom: 1vw;
	border-style: solid;
	border-width: 0 0.2vw 0 0;
	border-color: #ffffff;
}

.columnCenter{
	position: relative;
	width: 50vw;
	display: block;
	color: white;
	margin-bottom: 6vw;
	padding: 2vw;
	padding-left: 18vw;
	right:0;
	color:white;
	border-style: solid;
	border-width: 0 0.2vw 0 0;
	border-color: #ffffff;
	
}

.columnLeft{
	position: relative;
	width: 50vw;
	display: block;
	color: white;
	margin-right: 0;
	margin-bottom: 6vw;
	padding: 2vw 0 0 2vw;

	
	
	border-style: solid;
	border-width: 0 0 0 0.2vw;
	border-color: #ffffff;
	
}

.otherParagraphs{ 
	display:block;
	padding-top: 2.8vw;
	/*text-indent: 3vw;*/

	/*clear:both;*/
 }

/*.otherParagraphs:not(.source, .captionLeftPORT, .captionLeftLAND, .captionRightPORT, .captionRightLAND){ 
	text-indent: 3vw;
 }*/



.quote{
	display: inline-block;
	margin-top: 2vw;
	margin-bottom: 2vw;
	font-family:  "DTLNobelT-Italic", sans-serif;
	/*text-transform: uppercase;*/
	font-size: 2vw;
	line-height: 3vw;
	padding:2vw;
	margin:0;
	text-indent: 3vw;
	border-style: solid;
	border-width: 0 0  0.2vw 0 ;
	border-color: #ffffff;

}

a.LinkInText:link {
	font-family:  "DTLNobelT", sans-serif;
	text-transform: uppercase;
	font-size: 5vw;
	line-height: 2.4vw;
    color: black;
    text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
    text-decoration: none;
    margin-right:0vw;  
}

/* visited link */
a.LinkInText:visited {
	color: black;
    text-decoration: none;
}

/* mouse over link */
a.LinkInText:hover {
	font-family:  "DTLNobelT-Italic", sans-serif;
	color: black;
    text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
    text-decoration: none;
    /*font-family: 'Oswald', sans-serif;*/
    
}

/* selected link */
a.LinkInText:active {
    color: black;
    text-decoration: none;
}

.LinkInText::-moz-selection {
    background-color: blue;
    color: #fff;
}
 
.LinkInText::selection {
    background-color: blue;
    color: #fff;
}








a.LinkTOP:link {
	/*-family:  "DTLNobelT-Bold", sans-serif;
	text-transform: uppercase;
	font-size: 4vw;
	line-height: 2.4vw;
    color: white;
    
    text-decoration: none;
    margin-right:0vw;  */
}

/* visited link */
a.LinkTOP:visited {font-family:  "DTLNobelT-Italic", sans-serif;
	color: white;
	text-shadow:
    0 0 0 #000000,
    0 0 0 #000000,
    0 0 0 #000000,
    0 0 0 #000000;
    text-decoration: none;
}

/* mouse over link */
a.LinkTOP:hover {
	font-family:  "DTLNobelT-Italic", sans-serif;
	color: white;
	text-shadow:
    0 0 0 #000000,
    0 0 0 #000000,
    0 0 0 #000000,
    0 0 0 #000000;
    text-decoration: none;
    
    
}

/* selected link */
a.LinkTOP:active {
    font-family:  "DTLNobelT-Italic", sans-serif;
	color: white;
	text-shadow:
    0 0 0 #000000,
    0 0 0 #000000,
    0 0 0 #000000,
    0 0 0 #000000;
    text-decoration: none;
}

.LinkTOP::-moz-selection {
    background-color: blue;
    color: #fff;
}
 
.LinkTOP::selection {
    background-color: blue;
    color: #fff;
}



/*.ImageAndCaptionVert{
	position: relative;
	width: 90vw;
height: 100%;
background-color: red;
z-index: 30;

}*/


/*------IMAGES AND CAPTIONS-----*/
img{
	
}



.imageRightPORT{
	position: relative;
	display: inline-block;
	vertical-align:bottom;
	float:left;
	clear:both;
	width:40vw;
	height:100%;
	padding:  1.5vw 18vw  1.5vw 1.5vw;
	margin-top: 2.5vw;
	margin-left: -10vw;
	margin-bottom: 2vw;
	border-top: 0.4vw solid white;
	border-bottom: 0.4vw solid white;
	-webkit-filter: grayscale(1);
  	filter: grayscale(1);
}

.imageRightPORT:hover {
	-webkit-filter: grayscale(0);
  	filter: grayscale(0);
}

.imageLeftPORT{
	position: relative;
	display: inline-block;
	vertical-align:bottom;
	float:right;
	clear:both;
	width:40vw;
	height:100%;
	padding:  1.5vw 1.5vw  1.5vw 18vw;
	margin-top: 2.5vw;
	margin-right: -10vw;
	margin-bottom: 2vw;
	border-top: 0.4vw solid white;
	border-bottom: 0.4vw solid white;
	-webkit-filter: grayscale(1);
  	filter: grayscale(1);		
}

.imageLeftPORT:hover {
	-webkit-filter: grayscale(0);
  	filter: grayscale(0);
}

.imageRightLAND{
	position: relative;
	display: block;
	float:right;
	width:67.5vw;
	/*height:100%;*/
	padding:  1.5vw 0  1.5vw 0;
	margin-left: -10vw;	
	margin-top: 2vw;	
	margin-bottom: 1vw;
	border-top: 0.4vw solid white;
	border-bottom: 0.4vw solid white;
	-webkit-filter: grayscale(1);
  	filter: grayscale(1);
}

.imageRightLAND:hover {
	-webkit-filter: grayscale(0);
  	filter: grayscale(0);
}

.imageLeftLAND{
	position: relative;
	display: block;
	float:left;
	width:67.5vw;
	/*height:100%;*/
	padding:  1.5vw 0  1.5vw 0;
	/*margin-left: -10vw;	*/
	margin-top: 2vw;	
	margin-bottom: 1vw;
	border-top: 0.4vw solid white;
	border-bottom: 0.4vw solid white;
	-webkit-filter: grayscale(1);
  	filter: grayscale(1);
}

.imageLeftLAND:hover {
	-webkit-filter: grayscale(0);
  	filter: grayscale(0);
}

.captionRightPORT{
	/*-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	*/
	position: relative;
	display:inline;
	float: left;
	clear:both;	
	width: 20vw;
	margin-left: -10vw;
	margin-right: 3vw;
	margin-top: 0.5vw;
	padding-bottom:2vw;
	padding-left: 2vw;
	padding-right: 2vw;
	color: white;
	font-size: 1vw;
	line-height: 1.4vw;
	border-style: solid;
	border-width: 0px 0px 0.4vw 0px;
	border-color: #ffffff;
	z-index: 23;

}

.captionLeftPORT{
	position: relative;
	display:inline;
	float: right;
	clear:both;	
	width: 20vw;
	margin-right: -10vw;
	margin-left: 3vw;
	margin-top: 0.5vw;
	padding-top: 0vw;
	padding-bottom:2vw;
	padding-left: 2vw;
	padding-right: 2vw;
	color: white;
	font-size: 1vw;
	line-height: 1.4vw;
	border-style: solid;
	border-width: 0px 0px 0.4vw 0px;
	border-color: #ffffff;
	z-index: 23;

}


.captionRightLAND{
	position: relative;
	display:inline;
	float: left;
	clear:both;	
	width: 20vw;
	margin-left: -17.5vw;
	margin-right: 3vw;
	margin-top: 0.5vw;
	margin-bottom: 1vw;
	padding-top: 0vw;
	padding-bottom:2vw;
	padding-left: 2vw;
	padding-right: 2vw;
	color: white;
	font-size: 1vw;
	line-height: 1.4vw;
	border-style: solid;
	border-width: 0px 0px 0.4vw 0px;
	border-color: #ffffff;
	z-index: 23;

}

.captionLeftLAND{
	position: relative;
	display:inline;
	float: right;
	clear:both;	
	width: 20vw;
	margin-right: -17.5vw;
	margin-left: 3vw;
	margin-top: 0.5vw;
	margin-bottom: 0.5vw;
	padding-top: 0vw;
	padding-bottom:2vw;
	padding-left: 2vw;
	padding-right: 2vw;
	color: white;
	font-size: 1vw;
	line-height: 1.4vw;
	border-style: solid;
	border-width: 0px 0px 0.4vw 0px;
	border-color: #ffffff;
	z-index: 23;

}


.footer{
font-family: 'DTLNobelT-Bold', sans-serif;	
position: fixed;

top: 2vw;

right: 12vw;
text-transform: uppercase;
text-align: left;
font-size: 2vw;
line-height: 1;

z-index: 96;
}



u2 { border-bottom: solid 2px #00ffcc;
	
 }








h2 {
	margin-top: 0vw;
	font-size: 80px;
	line-height: 68pt;
	font-weight: normal;
	letter-spacing:1px;
	text-align: center;
	color: #ffffff;

}

h3 {
	font-size: 16px;
	width: 600px;
	margin-left: auto;	
	margin-right: auto;	
	line-height: 18pt;
	font-weight: bold;
	letter-spacing:1px;
	text-align: center;
	color: #ffffff;
}

sup { 
    line-height: 1vw;
    font-size: 1vw;
}

.sourceItalic{
	color:white;
	font-family: 'DTLNobelT-Italic', sans-serif;


}

.source{
	position:relative;
	display: inline;
	float: right;
	width: 20vw;
	padding-top: 1.5vw;
	padding-bottom:1.5vw;
	padding-left: 1.5vw;
	padding-right: 1.5vw;
	margin-top: 1.5vw;
	margin-bottom: 1vw;
	margin-left: 2vw;
	color: white;
	font-size: 1vw;
	line-height: 1.4vw;
	border-style: solid;
	border-width: 2px 0px 2px 0px;
	border-color: #ffffff;
	z-index: 23;

}


.sourceChapter{
	position:relative;
	display: inline;
	float: left;
	width: 50vw;
	padding-top: 1.5vw;
	padding-bottom:1.5vw;
	padding-left: 1.5vw;
	padding-right: 1.5vw;
	margin-top: 1.5vw;
	margin-bottom: 1vw;
	margin-left: 2vw;
	color: white;
	font-size: 1vw;
	line-height: 1.4vw;
	border-style: solid;
	border-width:  0 0 0 0.2vw;
	border-color: #ffffff;
	z-index: 23;

}




#rectangle {
	position: relative;
	width: 0.5vw;
	height: 1vw;
	background: red;
}







	 
	 

		













	
@media screen and (min-width: 300px) and (max-width: 800px){



.navclick {
    font-family:  "DTLNobelT-Bold", sans-serif;    
    color: white;
	position: fixed;
    margin-top: 2vw;
    right: 3vw;
	text-align: left;
	font-size: 4vw;
	line-height: 1;
	z-index: 96;
}

.nav {

	position: fixed;
	width: 63vw;
	height: 100%;
	
	top: 7.5vw;
    right: 3vw;
	background: black;
	
	overflow-y: visible;
	line-height: 1.3;
	text-align: left;
	font-family:  "DTLNobelT", sans-serif;
	font-size: 1vw;
	display: none;
	padding: 1vw;
	border: 0.4vw solid white;
	
	z-index: 97;
}

.menuSmall{
width: 100%;
height: 100%;
left:0px;
padding-left: 1vw;
position: relative;
top: 0vw;
z-index:97;


text-align: left;
text-transform: uppercase;
font-size: 3vw;
line-height: 5.5vw;
letter-spacing: 0.04em;
/*font-family:  "NHaasGroteskDSPro-65Md", sans-serif;*/
/*font-family:  "FuturaStd-Medium", sans-serif;*/
/*font-family:  "Portano-Sans", sans-serif;*/
/*font-family:  "DTLNobelT", sans-serif;*/
font-family:  "DTLNobelT-Bold", sans-serif;
/*font-family:  "NHaasGroteskDSPro-55Rg", sans-serif;	*/
/*font-family:  "NHaasGroteskDSPro-65Md", sans-serif;*/
/*font-family:  "Animo", sans-serif;*/
/*font-family:  "Roboto", sans-serif;*/
hyphens: manual;
}



chapMenu1 {
	font-family: "DTLNobelT",sans-serif;
	font-size: 1.8vw;
	text-transform: none;
	color: white;
	line-height: 0.5vw;
	margin-right:1.5vw;

}

.footer{
font-family: 'DTLNobelT-Bold', sans-serif;	
position: fixed;

top: 2vw;

right: 20vw;
text-transform: uppercase;
text-align: left;
font-size: 4vw;
line-height: 1;

z-index: 96;
}




.Name {
position: fixed;
width:100vw;
height:5vw;
float: left;
display: inline-block;

top: 0;
left:0vw;

color: #ffffff;
font-family:  "DTLNobelT-Bold", sans-serif;
/*font-family:  "NHaasGroteskDSPro-65Md", sans-serif;*/

font-size: 4vw;
text-transform: uppercase;
padding-left: 1.5vw;
padding-top: 1.5vw;
padding-bottom: 1vw;

text-align: left;

background: black;
border-bottom: 0.4vw solid white;

z-index: 95;
}

.myName{


display: inline-block;
top: 0;
text-align:left; 
text-shadow:none;
/*padding-left: 3vw;*/
font-family:  "DTLNobelT", sans-serif;
/*font-family:  "NHaasGroteskDSPro-65Md", sans-serif;*/
font-size: 1.5vw;
color: #ffffff;
text-transform: uppercase;
background: black;
padding-left: 1vw;
z-index: 95;
}

.nameChapter {

width:98vw;
height:5vw;
float: left;
display: inline-block;
left:0vw;
margin-bottom: 5vw;

color: #ffffff;
font-family:  "DTLNobelT-Bold", sans-serif;
/*font-family:  "NHaasGroteskDSPro-65Md", sans-serif;*/
font-size: 4vw;
text-transform: uppercase;
margin-top: 5vw;
padding-top: 8vw;
padding-left: 1.5vw;
padding-bottom: 1vw;
text-align: left;

background: black;
border-bottom: 0.4vw solid white;

z-index: 11;
}



/*___________________________________________*/




.chapterSSS {
	
	width: 80vw;
	position: relative;
    display:inline-block;
	margin-top: 0vw;	
	/*margin-right:4vw;*/
    margin-left: 7vw;	
    margin-bottom: 3vw;	
	font-family: 'DTLNobelT', sans-serif;	
	font-size: 3vw;
	/*letter-spacing:0.1vw;*/
	line-height: 5vw;
}


.columnRight{
	position: relative;
	width: 80vw;
	display: block;
	color: white;
	margin-right: 0;
	margin-bottom: 6vw;
	padding: 3vw;
	border-style: solid;
	border-width: 0 0 0 0.2vw;
	border-color: #ffffff;
}

.columnCenter{
	position: relative;
	width: 80vw;
	display: block;
	color: white;
	margin-right: 0;
	margin-bottom: 6vw;
	padding: 3vw;
	border-style: solid;
	border-width: 0 0 0 0.2vw;
	border-color: #ffffff;	
}

.columnLeft{
	position: relative;
	width: 80vw;
	display: block;
	color: white;
	margin-right: 0;
	margin-bottom: 6vw;
	padding: 3vw;
	border-style: solid;
	border-width: 0 0 0 0.2vw;
	border-color: #ffffff;	
}



.imageRightPORT{
	position: relative;
	display:  block;
	float: right;
	
	width:60vw;
	height:100%;

	padding:  1.5vw 1.5vw  1.5vw 20vw;
	margin-top: 2.5vw;
	margin-right: -2vw;
	margin-bottom: 2vw;
	border-top: 0.4vw solid white;
	border-bottom: 0.4vw solid white;
	
}

.imageLeftPORT{
	position: relative;
	display:  block;
	float: left;
	
	width:60vw;
	height:100%;

	padding:  1.5vw 1.5vw  1.5vw 20vw;
	margin-top: 2.5vw;
	
	margin-bottom: 2vw;
	border-top: 0.4vw solid white;
	border-bottom: 0.4vw solid white;
	
}


.imageRightLAND{
	position: relative;
	display: block;	

	width:78vw;
	padding:  1.5vw 2vw  1.5vw 2vw;
	margin-top: 2vw;	
	margin-bottom: 1vw;
	border-top: 0.4vw solid white;
	border-bottom: 0.4vw solid white;
}


.imageLeftLAND{
	position: relative;
	display: block;	

	width:78vw;
	padding:  1.5vw 2vw  1.5vw 2vw;
	margin-top: 2vw;	
	margin-bottom: 1vw;
	border-top: 0.4vw solid white;
	border-bottom: 0.4vw solid white;
}


.captionRightPORT{
	position: relative;
	display:block;
	float: right;
	clear:both;	
	width: 25vw;
	margin-right: -2vw;
	margin-left: 3vw;
	margin-top: 1vw;
	padding-top: 0vw;
	padding-bottom:3vw;
	padding-left: 4vw;
	padding-right: 0vw;
	color: white;
	font-size: 1.5vw;
	line-height: 2vw;
	border-style: solid;
	border-width: 0px 0px 0.4vw 0px;
	border-color: #ffffff;
	z-index: 23;


}

.captionLeftPORT{
	position: relative;
	display:block;
	float: right;
	clear:both;	
	width: 25vw;
	margin-right: -1vw;
	margin-left: 3vw;
	margin-top: 1vw;
	padding-top: 0vw;
	padding-bottom:3vw;
	padding-left: 4vw;
	padding-right: 0vw;
	color: white;
	font-size: 1.5vw;
	line-height: 2vw;
	border-style: solid;
	border-width: 0px 0px 0.4vw 0px;
	border-color: #ffffff;
	z-index: 23;

}




.captionLeftLAND, .captionRightLAND {
	position: relative;
	display:block;
	float: right;
	clear:both;	
	width: 25vw;
	margin-left: 3vw;
	margin-right: -2vw;
	margin-top: 1vw;
	padding-top: 0vw;
	padding-bottom:3vw;
	padding-left: 2vw;
	padding-right: 2vw;
	color: white;
	font-size: 1.5vw;
	line-height: 2vw;
	border-style: solid;
	border-width: 0px 0px 0.4vw 0px;
	border-color: #ffffff;
	z-index: 23;
}


.source{
	position:relative;
	display: inline;
	float: right;
	width: 30vw;
	padding-top: 2vw;
	padding-bottom:2vw;
	padding-left: 1.5vw;
	padding-right: 1.5vw;
	margin-top: 2vw;
	margin-bottom: 1vw;
	margin-left: 2vw;
	color: white;
	font-size: 2vw;
	line-height: 2.6vw;

	border-style: solid;
	border-width: 0.4vw 0 0.4vw 0;
	border-color: #ffffff;
	z-index: 23;

}

.source1{
	position:relative;
	display: inline;
	float: right;
	width: 30vw;
	padding-top: 2vw;
	padding-bottom:2vw;
	padding-left: 1.5vw;
	padding-right: 1.5vw;
	margin-top: 2vw;
	margin-bottom: 1vw;
	margin-left: 2vw;
	color: white;
	font-size: 3vw;
	line-height: 3.8vw;

	border-style: solid;
	border-width: 0.4vw 0 0.4vw 0;
	border-color: #ffffff;
	z-index: 23;
}

.sourceItalic1{
	font-size: 2vw;
	line-height: 2.6vw;
	color:black;
	font-family: "DTLNobelT-Italic",sans-serif;

	}
.quote{
	display: inline-block;
	margin-top: 2vw;
	margin-bottom: 2vw;
	font-family:  "DTLNobelT-Italic", sans-serif;
	/*text-transform: uppercase;*/
	font-size: 3vw;
	line-height: 5vw;
	padding:2vw;
	margin:0;
	text-indent: 3vw;
	border-style: solid;
	border-width: 0 0  0.2vw 0 ;
	border-color: #ffffff;

}

sup { 
    line-height: 1vw;
    font-size: 1.5vw;
}



/*___________________________LINKS__________________________________*/

a:link {
    color: #ffffff;
    text-decoration: none;
    margin-right:0vw;  
}

a:visited {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
	font-family:  "DTLNobelT-Italic", sans-serif;
    color: white;    
    text-shadow:
    0px 0px 0 #ffffff,
    0px 0px 0 #ffffff,
    0px 0px 0 #ffffff,
    0px 0px 0 #ffffff;
    text-decoration: none;   
}

a:focus {
	font-family:  "DTLNobelT-Italic", sans-serif;
    color: white;       
}

a:active {
    color: #ffffff;
    text-decoration: none;
}

::-moz-selection {
    background-color: blue;
    color: #fff;
}
 
::selection {
    background-color: blue;
    color: #fff;
}






a.LinkInText:link {
	font-family:  "DTLNobelT", sans-serif;
	text-transform: uppercase;
	font-size: 8vw;
	line-height: 5vw;
    color: white;
    text-shadow:
    0 0 0 #ffffff,
    0 0 0 #ffffff,
    0 0 0 #ffffff,
    0 0 0 #ffffff;
    text-decoration: none;
    margin-right:0vw;  
}

/* visited link */
a.LinkInText:visited {
	color: white;
    text-decoration: none;
}

/* mouse over link */
a.LinkInText:hover {
	font-family:  "DTLNobelT-Italic", sans-serif;
	color: white;
    text-shadow:
    0 0 0 #ffffff,
    0 0 0 #ffffff,
    0 0 0 #ffffff,
    0 0 0 #ffffff;
    text-decoration: none;
    /*font-family: 'Oswald', sans-serif;*/
    
}

/* selected link */
a.LinkInText:active {
    color: white;
    text-decoration: none;
}

.LinkInText::-moz-selection {
    background-color: blue;
    color: #fff;
}
 
.LinkInText::selection {
    background-color: blue;
    color: #fff;
}

.imageLink{

	height:3.5vw;
	width:auto;
}


}

