
body, html {
height: 100%;
margin-top: 0px;
margin-bottom: 0px;
margin-right: 0px;
margin-left: 0px;
background: black;
font-size: 100%;
}



	 
/*#sidetitle{
	width: 550px;
	height: 23px;
	font-family: 'Arimo', sans-serif;
	letter-spacing:1px;	
    margin: auto;
  	top: 0; left: -850px; bottom: 0; right: 0;	
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	position: fixed;
	text-transform: uppercase;	
}*/
	
#headerimg{
	width: 100%;
  	height: 100%;
	position: absolute;
  	top: 0;
    right: 0;
    z-index:0;
}

#containerMenu {
  width: 100%;
  height: 100%;
  position: relative;
}

/*MENU PROPERTIES AT THE BOTTOM NEXT TO LINKS*/



}
#title{
	width: 750px;
	margin-right:auto;
    margin-left: auto;
    margin-top: 150px;
	font-family: 'Arimo', sans-serif;	
	font-size: 16px;
	letter-spacing:1px;
	line-height: 16pt;
	
}

#abstract{
	
	width: 80%;
	position: relative;
	/*margin-top: 30vh;
	margin-right:auto;
    margin-left: auto;	
    margin-bottom: 80px;*/	
	font-family: 'Montserrat', sans-serif;	
	font-size: 2vw;
	letter-spacing:1px;
	line-height: 2vw;
}

#introduction{
	width: 800px;
	margin-right:auto;
    margin-left: auto;
    margin-bottom: 80px;
	font-family: 'Pontano+Sans', sans-serif;	
	font-size: 16px;
	letter-spacing:1px;
	line-height: 16pt;
}

#influence{
	width: 800px;
	margin-right:auto;
    margin-left: auto;
    margin-bottom: 80px;
	font-family: 'Pontano+Sans', sans-serif;	
	font-size: 16px;
	letter-spacing:1px;
	line-height: 16pt;
}

#archAndType{
	width: 800px;
	margin-right:auto;
    margin-left: auto;
    margin-bottom: 80px;
	font-family: 'Pontano+Sans', sans-serif;	
	font-size: 16px;
	letter-spacing:1px;
	line-height: 16pt;
}

#column1{
	width: 350px;
	margin-right:auto;
    margin-left: auto;
    margin-bottom: 20px;
	font-family: 'Pontano+Sans', sans-serif;	
	font-size: 16px;
	letter-spacing:1px;
	line-height: 16pt;
	float: left;
}
#column2{
	width: 350px;
	margin-right:auto;
    margin-left: auto;
    margin-bottom: 40px;
	font-family: 'Pontano+Sans', sans-serif;	
	font-size: 16px;
	letter-spacing:1px;
	line-height: 16pt;
	float: left;
}

.captions{
	width: 250px;
	margin-top: 150px;
	margin-left: 110px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	position: absolute;
	letter-spacing:1px;
	font-size: 10px;
	line-height: 10pt;
}

.captioncolumn1{
	width: 250px;
	margin-top: 167px;
	margin-left: 110px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	position: absolute;
	letter-spacing:1px;
	font-size: 10px;
	line-height: 10pt;
}

.captioncolumn2{
	width: 280px;
	margin-top: 167px;
	margin-left: 280px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	position: absolute;
	letter-spacing:1px;
	font-size: 10px;
	line-height: 10pt;
}

#footnote{
	width: 700px;
	margin-right:auto;
    margin-left: auto;
    margin-bottom: 20px;
	font-family: 'Pontano+Sans', sans-serif;	
	font-size: 14px;
	letter-spacing:1px;
	line-height: 14pt;
	
}




.footer{
font-family: 'Pontano+Sans', sans-serif;	
position: fixed;
bottom: 15px;
text-align: right;
right: 15px;
width: 250px;
font-size: 15px;
line-height: 15pt;
letter-spacing: 0.04em;
padding-left: 15px;
}

	.insertedImage1 { 
		width: 250px;
		height: 302px;
		margin-left: auto;	
		margin-right: auto;	
		margin-top: 25px;	
		margin-bottom: 25px;
		background-image: url("images/1.jpg");
		background-repeat: no-repeat;
		position: related;
		cursor: pointer;
		
	 }
	 
	 
	 
	 .insertImage2 { 
		width: 220px;
		height: 300px;
		margin-top: 25px;	
		margin-bottom: 25px;
		background-image: url("http://kabk.github.io/govt-theses-16-john-van-der-meule/images/Braque_fruit.jpg");
		background-repeat: no-repeat;
		position: related;
		
	 }
	 
	  .insertImage3 { 
		width: 398px;
		height: 300px;
		margin-left: -70px;	
		margin-top: 25px;	
		margin-bottom: 25px;
		background-image: url("http://kabk.github.io/govt-theses-16-john-van-der-meule/images/Picasso_chair.jpg");
		background-repeat: no-repeat;
		position: related;
		
	 }



	
u2 { border-bottom: solid 2px #00ffcc;
	
 }

p { 
	text-indent: 30px;
	color: #ffffff;
 }
	 


h1 {
	font-size: 30px;
	line-height: 28pt;

	letter-spacing:1px;
	text-align: center;
	color: #ffffff;

}

h2 {
	font-size: 80px;
	line-height: 68pt;
	font-weight: normal;
	letter-spacing:1px;
	text-align: center;
	color: #ffffff;
}

h3 {
	font-size: 16px;
	width: 600px;
	margin-left: auto;	
	margin-right: auto;	
	line-height: 18pt;
	font-weight: bold;
	letter-spacing:1px;
	text-align: center;
	color: #ffffff;
}

sup { 
    line-height: 10pt;
    font-size: smaller;
}




.menu{
font-family: 'Montserrat', sans-serif;	
hyphens: manual;
position: relative;
top: 10px;
text-align: left;
text-transform: uppercase;
left:0px;
width: 100%;
font-size: 4.7vw;
line-height: 1.3;
letter-spacing: 0.04em;
padding-left: 15px;
z-index:10;
}

chapMenu {
	font-size: 0.8vw;
	text-transform: uppercase;
	margin-right:5px;

}

space{
	padding-left:7vw;
	
}

chapMenu1 {
	font-size: 1vw;
	/*margin-right:5px;
	margin-left: 2.5vw;*/
}

/*.space{
position: inline;
word-spacing: 1vw;

border-style: solid;
border-width: 2px;
border-color: #ffffff;
}*/

/*.Space{
float: right;
width:900px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-bottom-color: #ffffff;	
}*/


a.one:link {
    color: #ffffff;
    text-decoration: none;
    margin-right:0vw;
    /*text-decoration: underline;*/
    border-bottom-style: solid;
	border-bottom-width: 0.3vw;
	border-bottom-color: #ffffff;
}

a:link {
    color: #ffffff;
    text-decoration: none;
    margin-right:0vw;
    
}




/* visited link */
a:visited {
    color: #ffffff;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #001eff;
    text-decoration: none;
    /*font-family: 'Oswald', sans-serif;*/
}

/* selected link */
a:active {
    color: #ffffff;
    text-decoration: none;
}

::-moz-selection {
    background-color: #00ffcc;
    color: #000;
}
 
::selection {
    background-color: #00ffcc;
    color: #000;
}


/*ATTEMPT TO DRAW THE LINE*/
/*hr { 
    display: block;
    align:right;
    margin-top: 0.5em;
   	margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 2px;
    border-color: #ffffff;
   }*/


.hidden { display: none; }
.unhidden { display: inline; }


.right{
	width: 50vw;
	display: block;
	padding: 1vw;
	border-style: solid;
	border-width: 0px 1px 1px 0px;
	border-color: #ffffff;
	margin-left:20vw;
}

.left{
	width: 50vw;
	display: block;
	padding: 1vw;
	border-style: solid;
	border-width: 0px 0px 1px 1px;
	border-color: #ffffff;
	margin-left:0vw;
}

#underline{
text-decoration: none; 
background: url(images/underline.gif) repeat-x 100% 100%;
padding-bottom: 4px;
white-space: nowrap;
}